<template>
<div>
  <section class="hero is-info is-medium body" >
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="../assets/FakeRedditLogo.png" alt="Logo"/> 
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">Home</a>
              <a class="navbar-item">Video</a>
              <a class="navbar-item">How it works?</a>              
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">Welcome!</p>
        <p class="subtitle">to fake reddit</p>
      </div>
    </div>
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li v-bind:class="[activeSection == 1 ? 'is-active' :  '']" @click="changeSelectSection(1)"> <!--class="is-active"-->
              <a>Top</a>
            </li>
            <li v-bind:class="[activeSection == 2 ? 'is-active' :  '']" @click="changeSelectSection(2)">
              <a>Communities</a>
            </li>
            <li v-bind:class="[activeSection == 3 ? 'is-active' :  '']" @click="changeSelectSection(3)">
              <a>Create post</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <section class="hero is-light  is-large">
  <div class="hero-body">
    <div class="container">
      <template>
          <div v-if="activeSection == 1">
             
          </div>
          <div v-else-if="activeSection == 2">
             
          </div>
          <div  v-else-if="activeSection == 3">
             
          </div>
      </template>
    </div>
  </div>
</section>
</div>
</template>

<script>
export default {
    name: 'home',
    data: () => ({
        sections: [],
        activeSection : 0
    }),
    methods:{
        changeSelectSection(newActiveSection){
            this.activeSection = newActiveSection;
        }
    }
};
</script>

<style>

</style>